<div class="about">
  <div class="title">
    <h1>Our Core Values</h1>
  </div>
  <div class="values">
    <h2>INCLUCION:</h2>
    <p>
      There is a restlessness at the heart here. A belief that we can build a
      better way to do business—and then a better one after that. We take smart
      risks. We embrace the failures that lead to a better way. We are
      relentless in our intent to improve as individuals, and as the company we
      are building together.
    </p>
    <h2>COMUNICACION:</h2>
    <p>
      Communication is how we build strong, trusting relationships with each
      other, and with our partners, customers and communities. Respectful,
      transparent communication is not an option—it is an obligation.
    </p>
    <h2>RESPECT:</h2>
    <p>
      Every member of the extended community—customers, partners, vendors,
      fellow employees—should feel respected, heard and valued. Every
      interaction should communicate respect for individuals, industries and the
      communities we live and play in.
    </p>
    <h2>CREDIBILITY:</h2>
    <p>
      Credibility comes from our passion for what we do, our service and
      expertise, and our welcoming, authentic approach to customers of all
      styles, abilities and interests.
    </p>
    <h2>INVITATION:</h2>
    <p>
      We create community-focused, customer experiences that are inviting and
      accessible. We open the doors to all people. And we share our passions and
      knowledge with humility and a genuine desire to help.
    </p>
    <h2>BALANCED AMBITION:</h2>
    <p>
      We are committed to balance—as a company, and as individuals. We balance
      our desire to be a growing, profitable business with the needs of our
      communities and a commitment to give back. We balance professional
      ambitions with our lives outside.
    </p>
    <h2>LEADERSHIP:</h2>
    <p>
      We are always seeking a better way of doing things and to lead the way. We
      lead by example, are not afraid to take risks and learn from our failures.
      We strive to be leaders as individuals and as a company to ultimately
      change things for the better.
    </p>
  </div>
  <img id="img" src="assets/images/about.jpg" alt="Happy Skier" />
</div>
